<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

  <head>

    <title>fUnit - Fortran Unit Testing</title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>

    <meta name="date" content="<%= Time.now.getgm.strftime("%Y-%m-%d %H:%MZ") %>"/>
    <meta name="author" content="fUnit Development Team"/>
    <meta name="copyright" content="Copyright 2006 United States Government as represented by NASA Langley Research Center. No copyright is claimed in the United States under Title 17, U.S. Code. All Other Rights Reserved."/>
    <meta name="description" content="fUnit, a Fortran unit testing framework"/>
    <meta name="keywords" lang="en-us" content="Fortran, unit testing, xUnit, fUnit, test, testing, fortran 90, fortran 95, fortran 2003"/>

    <meta name="robots" content="all">

    <link type="text/css" rel="stylesheet" href="funit.css" />

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

  </head>
  
  <body>

   <div id="content">

    <%= contents %>

   </div>

  </body>

</html>
